body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  height: 100%;
  width: 100%;
}

.text-center {
  text-align: center;
}

.wrapper {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.logo {
  max-width: 200px;
  max-height: 200px;
}

.main {
  background-color: lightgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-link:hover {
  border-bottom: 1px solid black;
}

.about-me {
  background-color: lightgray;
}

.title-h1 {
  font-size: 60px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  opacity: 0.5;
}

.job-me-back {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 220px;
  padding-top: 40px;
}

.job-me-front {
  width: 300px;
  height: 300px;
  position: relative;
  left: 300px;
  padding-top: 100px;
}

.box-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box-about-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
}

.box-about-text {
  color: black;
  opacity: 0.9;
  font-size: 18px;
}

.progress-bar-text {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.progress-bar-line {
  width: 100%;
  height: 2px;
  background-color: black;
  position: relative;
}

.progress-bar-line::before {
  content: "";
  background-image: url(../img/str.png);
  background-repeat: no-repeat;
  width: 6px;
  height: 11px;
  position: absolute;
  left: 0;
  top: calc(50% - 5.5px);
}

.progress-bar-line::after {
  content: "";
  position: absolute;
  right: 0;
  display: block;
  height: 2px;
  background-color: white;
}

.progress-bar--html::after {
  width: 10%;
}

.progress-bar--css::after {
  width: 10%;
}

.progress-bar--js::after {
  width: 50%;
}

.progress-bar--node::after {
  width: 70%;
}

.section-3 {
  background-color: lightgray;
  padding-top: 200px;
}

.title-h3-text-center {
  font-size: 30px;
  margin: 0;
  padding-top: 50px;
  text-align: center;
}

.text-center {
  font-size: 18px;
}

.picturies {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.img-container {
  margin: 15px 0;
  padding: 0 15px;
}

.img-container-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  overflow: hidden;
}

.img-container-inner::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 2;
}

.img-container-inner:hover::before {
  opacity: 1;
}

.picturies-size {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 300px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.title-span {
  position: absolute;
  left: 15px;
  bottom: 15px;
  overflow: hidden;
  z-index: 3;
}

.title-span span {
  color: white;
  display: block;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.img-container-inner:hover .title-span > span {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.img-container-inner:hover .picturies-size {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.banner {
  padding-top: 72px;
  padding-bottom: 100px;
  background-color: darkslategray;
  color: white;
  text-align: center;
}

.banner .before-picturies {
  font-size: 20px;
}

.text-center {
  padding-bottom: 30px;
  font-size: 48px;
}

.btn {
  color: black;
  background-color: darkcyan;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 57px;
  border-radius: 5px;
}

.form-h2 {
  font-size: 30px;
  margin: 0;
  padding-top: 70px;
  text-align: center;
}

.form-p {
  font-size: 16px;
  margin: 0;
  padding-top: 20px;
  text-align: center;
  opacity: .8;
}

.form-section {
  background-color: white;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
  max-width: 750px;
  margin: 0 auto;
}

.form-input, .form-textarea {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 17px 25px;
  margin-bottom: 15px;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.form-input:focus, .form-textarea:focus {
  outline: none;
  border-bottom: 1px solid black;
}

.form-textarea {
  padding: 12px 25px;
  min-height: 86px;
  margin-bottom: 15px;
}

.btn-form {
  color: black;
  background-color: darkcyan;
  text-decoration: none;
  font-size: 20px;
  padding: 12px 57px;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  background-color: darkcyan;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  padding: 65px 100px 65px 100px;
}

.social-network {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}

.social-network-item {
  margin-left: 20px;
}

.social-network-link {
  color: white;
}
/*# sourceMappingURL=style.css.map */