    $dark: black;
    $light: white;
    $text:lightgray;
    body,
    html {
        margin: 0;
        padding: 0;
    }
    
    body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: $dark;
        height: 100%;
        width: 100%;
    }
    
    .text-center {
        text-align: center;
    }
    
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
    }
    
    .logo {
        max-width: 200px;
        max-height: 200px;
    }
    
    .main {
        // background-image: url(../img/middle.jpg);
        // background-repeat: no-repeat;
        // box-sizing: border-box;
        background-color: $text;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
    }
    
    .header {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .nav {
        display: flex;
        list-style-type: none;
        padding-left: 0;
        margin: 0;
        &-item {
            margin-left: 15px;
        }
        &-link {
            color: $dark;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            transition: 0.3s;
            &:hover {
                border-bottom: 1px solid $dark;
            }
        }
    }
    
    .about-me {
        background-color: $text;
        // height: 100%;
        // padding-top: 150px;
    }
    
    .title-h1 {
        font-size: 60px;
        margin: 0 auto;
        padding-top: 200px;
        padding-bottom: 200px;
        opacity: 0.5;
    }
    
    .job-me-back {
        width: 300px;
        height: 300px;
        position: absolute;
        left: 220px;
        padding-top: 40px;
    }
    
    .job-me-front {
        width: 300px;
        height: 300px;
        position: relative;
        left: 300px;
        // top: 50px;
        padding-top: 100px;
    }
    
    .box-about {
        display: flex;
        // align-items: center;
        justify-content: space-between;
        // padding-top: 150px;
        &-item {
            flex: 0 0 45%;
            max-width: 45%;
        }
    }
    
    .box-about-text {
        color: $dark;
        opacity: 0.9;
        font-size: 18px;
    }
    
    .progress-bar {
        &-text {
            font-size: 16px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            // align-items: center;
        }
        &-line {
            width: 100%;
            height: 2px;
            background-color: $dark;
            position: relative;
            &::before {
                content: "";
                background-image: url(../img/str.png);
                background-repeat: no-repeat;
                // display: block;
                width: 6px;
                height: 11px;
                position: absolute;
                left: 0;
                top: calc(50% - 5.5px);
            }
            &::after {
                content: "";
                position: absolute;
                right: 0;
                display: block;
                height: 2px;
                background-color: $light;
            }
        }
        &--html {
            &::after {
                width: 10%;
            }
        }
        &--css {
            &::after {
                width: 10%;
            }
        }
        &--js {
            &::after {
                width: 50%;
            }
        }
        &--node {
            &::after {
                width: 70%;
            }
        }
    }
    
    .section-3 {
        background-color: $text;
        padding-top: 200px;
    }
    
    .title-h3 {
        &-text-center {
            font-size: 30px;
            margin: 0;
            padding-top: 50px;
            text-align: center;
        }
    }
    
    .text-center {
        font-size: 18px;
    }
    
    .picturies {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
    }
    
    .img-container {
        margin: 15px 0;
        padding: 0 15px;
        &-inner {
            position: relative;
            display: flex;
            cursor: pointer;
            // left: 60px;
            overflow: hidden;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba($color: #000000, $alpha: .8);
                opacity: 0;
                transition: all 0.3s ease;
                z-index: 2;
            }
        }
    }
    
    .img-container-inner:hover::before {
        opacity: 1;
    }
    
    .picturies-size {
        object-fit: cover;
        width: 300px;
        height: 300px;
        transition: all .3s ease;
    }
    
    .title-span {
        position: absolute;
        left: 15px;
        bottom: 15px;
        overflow: hidden;
        z-index: 3;
        & span {
            color: $light;
            display: block;
            transform: translateY(30px);
            transition: transform 0.3s ease;
        }
    }
    
    .img-container-inner:hover .title-span>span {
        transform: translateY(0);
    }
    
    .img-container-inner:hover .picturies-size {
        transform: scale(1.05);
    }
    
    .banner {
        padding-top: 72px;
        padding-bottom: 100px;
        background-color: darkslategray;
        color: $light;
        text-align: center;
        .before-picturies {
            font-size: 20px;
        }
    }
    
    .text-center {
        padding-bottom: 30px;
        font-size: 48px;
    }
    
    .btn {
        color: $dark;
        background-color: darkcyan;
        text-decoration: none;
        font-size: 20px;
        padding: 12px 57px;
        border-radius: 5px;
    }
    
    .form-h2 {
        font-size: 30px;
        margin: 0;
        padding-top: 70px;
        text-align: center;
    }
    
    .form-p {
        font-size: 16px;
        margin: 0;
        padding-top: 20px;
        text-align: center;
        opacity: .8;
    }
    
    .form-section {
        background-color: $light;
    }
    
    .form {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        max-width: 750px;
        margin: 0 auto;
        &-input,
        &-textarea {
            border: none;
            border-bottom: 1px solid #e1e1e1;
            font-size: 14px;
            padding: 17px 25px;
            margin-bottom: 15px;
            text-align: center;
            transition: .3s;
            &:focus {
                outline: none;
                border-bottom: 1px solid $dark;
            }
        }
        &-textarea {
            padding: 12px 25px;
            min-height: 86px;
            margin-bottom: 15px;
        }
    }
    
    .btn-form {
        color: $dark;
        background-color: darkcyan;
        text-decoration: none;
        font-size: 20px;
        padding: 12px 57px;
        border: none;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    footer {
        background-color: darkcyan;
    }
    
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        padding: 65px 100px 65px 100px;
    }
    
    .social-network {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
        &-item {
            margin-left: 20px;
        }
        &-link {
            color: $light;
        }
    }